@media(max-width:768px){
    .header .header-text{
        margin: 0 50px;
    }

    .header .header-text h4{
        font-size: 2rem;
    }

    .header .header-text h1{
        font-size: 4rem;
    }

    .header .header-text hr{
        border: 5px solid white;
        width: 100%;
    }

    .header .repair .repair-icons{
        height: 60px;
        width: 60px;
    }

    .service-section .service-text p{
        width: 690px;
    }

    .help-items{
        display: flex;
        flex-direction: column;
    }

    .help-items .help-one img{
       width: 100%;
       height: 300px;
    }

    .help-items .help-one-text{
        width: 95%;
    }

    .help-items .help-two-text{
    width: 100vw;
    padding-left: 100px;   
    }

    .help-items .help-two img{
        width: 90%;
        padding-left: 100px;
        height: 300px;
    }

    .quality-section{
        min-height: 490px;
    }

    .quality-section .quality-items .handy-img{
        min-height: 490px;
    }

    .quality-section .quality-items .quality-text{
        margin-top: 50px;
        width: 50%;
    }

    .quality-section .quality-items .quality-text h2{
        font-size: 3.125rem;
        margin: 40px 0 0;
    }

    .quality-section .quality-items .quality-text hr{
        height: 10px;
        width: 120%;
    }

    .quality-section .quality-items .quality-text p{
        margin: 20px 0 0;
        width: 110%;
    }

    .services-section .service-items{
        margin: 70px auto;
        width: 100%;
    }

    .services-section .service-items .service p{
        width: 70.3%;
    }

    .about-section{
        height: 150vh;
    }

    .about-items{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .about-text{
        width: 100%;
        padding: 50px;
    }

    .about-text h3{
        font-size: 4.5rem;
    }

    .about-image{
        width: 90%;
    }    

    .about-image img{
        width: 47%;
        height: 200px;  
    }

    .final-section{ 
        width: 90%;
      }
  
      .final-section .buttons{
          margin-top: 20px;
      }
}